*{
    margin:0;
    padding:0 ;
    box-sizing: border-box;
}
body  {
    overflow-x: hidden;
}

.content__home {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.home {
    background-color:white ;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    max-width: 100vw;
}
.home__container{
    z-index: 80;
    position: absolute;
    left: 27%;
    
    
}
.home__circle-1 {
    height: 118vh;
    aspect-ratio: 1;
    max-width: 70%;
    position: absolute;
    right: -25.2%;
    
    background-color: rgb(21,186,137);
    
        border-radius: 50%;
        z-index: 30;
}
.home__circle-2{
    height: 118vh;
    aspect-ratio: 1;
    max-width: 70%;
    right:-18.7% ;
    
    position: absolute;
    background: rgb(119, 234, 199);
    border-radius: 50%;
    z-index: 20;
}
.home__circle-3 {
    height:118vh ;
    aspect-ratio: 1;
    max-width: 70%;
    position: absolute;
    right:-12.7% ;
    background: rgb(156, 247, 220);
       border-radius: 50%;
       z-index: 10;
}